# Local .terraform directories
**/.terraform/*
*.DS_Store
# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files 
*.tfvars
*.tfvars.json


# Ignore local Terraform backend configuration 

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*.tfplan*
ansible/playbooks/deployment_vars.yml
ansible/inventory.ini

# Ignore CLI configuration files
.terraformrc
terraform.rc

*.pem
