# Local .terraform directories
**/.terraform/*
*.DS_Store
# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files 
*.tfvars
*.tfvars.json

ansible/generated_key_rsa
# Ignore local Terraform backend configuration 

.terraform.lock.hcl

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*.tfplan*
ansible/playbooks/deployment_vars.yml
ansible/inventory.ini
**/.devcontainer/*


# Ignore CLI configuration files
.terraformrc
terraform.rc

*.pem
**/tftest-ansible/*
